extends ./layout.jade
block contenido
	h1 Inicia sesión
	form(action="/dashboard" method="POST")
		div(class="form-group")
			label(for="emial") Email 
			input(type="text" name="email" placeholder="Email" id="email" class="form-control")
		div(class="form-group")
			label(for="password") Password 
			input(type="password" name="password" placeholder="contraseña" id="password" class="form-control")


		div(class="form-group")
			input(type="submit" value="Inisiar sesión" class="btn btn-info")