extends ../layout.jade
block contenido
	div(class="right-space remove-float center-block ")
		h1 Bienvenido al escritorio
		br
		h2 aqui deben de ir todas las cosas
		p hola mundo prueba #{user.email}