html
	head
		title express x2

	body
		h1 prueva el metodo POST

		form(action="/", method="POST")
			input(type="submit", value="enviar")

		h1 prueva el metodo GET

		form(action="/", method="GET")
			input(type="submit", value="enviarGET")